@import "materialize";

html {
	background-color: #1b1b1b;
	color: white;
	background: url("../img/bg.jpg") no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
}

/* Accent Colors */

b {
	color: color("light-green", "accent-3");
}

a {
	color: color("light-green", "accent-3");
}

/* True Flex Layout */

.row.true-flex {
	display: flex;
	flex-wrap: wrap;
	
	&.center-flex {
		justify-content: center;
	}
	
	&.equalizer {
		display: flex;
		flex-wrap: wrap;
		
		.col {
			display: flex;
		}
		
		.col > * {
			flex: 1 1 0%;
		}
	}
}

/* Helpers */

.no-margin {
	margin: 0 !important;
}

.card-panel > .valign * {
	display: block;
}

/* Preload */

.preload * {
	transition: none !important;
}

/* Footer */
 
footer a {
	transition: color 0.5s ease-in-out;
	color: #fff;
		
	&:hover {
		color: color("light-green", "accent-3");
	}
}


/* Underline From Center */

.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow: hidden;
}
.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50.01%;
    right: 50.01%;
    bottom: 0;
    background: color("light-green", "accent-3");
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before,
.hvr-underline-from-center:focus:before,
.hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
}

/* Cards */

.card, {
	background-color: color("blue-grey", "darken-4");
	
	.card-reveal {
		background-color: color("blue-grey", "darken-4");
	}
}

/* Home Page */

#z {
	transition: color 3s ease-in-out;
	color: #fff;
}

.home-wrapper {
	display: inline-block;
	flex: 1;
	padding: 0 2rem 1.124rem 2rem;
	background-color: rgba(27, 27, 27, 0.5);
	
	// Keep this?
	// box-shadow: -10px 10px 40px rgba(118, 255, 3, 0.1);
}

/* Card */

.card {
	color: #fff;
}

/* Table of Contents */

.table-of-contents {
	position: fixed;
	right: 0;
	font-size: 1.64rem;
	line-height: 1.64rem;
	padding-right: 20px;
	top: 50%;
	transform: translateY(-50%);

	.row {
		margin-bottom: 0px;
	}

	.infrastructure {
		&.active {
			color: color("yellow", "accent-3");
		}
	}
	.social {
		&.active {
			color: color("light-blue", "accent-3");
		}
	}
	.medical {
		&.active {
			color: color("red", "accent-3");
		}
	}
	.survival {
		&.active {
			color: color("green", "accent-3");
		}
	}
}
	
/* Offset Wrappers */

.footer-wrapper {
	height: 100%;
	background-color: rgba(55, 55, 55, 0.5);
	padding-top: 20px;
}

.main-wrapper {
	flex: 1;
	background-color: rgba(25, 25, 25, 0.97);
}


/* Sidenav  */

header, main, footer {
	padding-left: 240px;
}

@media #{$medium-and-down} {
	header, main, footer {
		padding-left: 0;
	}
	
	.side-nav {
		background-color: rgb(55, 55, 55);
	}
}

/* Sticky footer */

body {
	display: flex;
	// min-height: 100vh;
	height: 100vh; /* This is the last draw IE. */
	flex-direction: column;
	overflow-y: scroll;
}

header, footer {
	flex: 0 0 auto;
	overflow: hidden; /* Hey IE, I know how to NOT follow standards as well. */
}

main {
	flex: 1 0 auto;
	position: relative;
	display: flex;
	overflow: hidden; /* Again IE? When will you stop? */
}

ul.side-nav.fixed:hover {
    overflow-y: auto;
}

@media #{$medium-and-down} {
	ul.side-nav.fixed {
		overflow-y: auto;
	}
}

/* Logo */

ul.side-nav.fixed li.logo {
	text-align: center;
	margin-top: 26px;
	margin-bottom: 16px;
	border-bottom: 1px solid color("light-green", "accent-3");
}

ul.side-nav.fixed li.logo:hover {
	background-color: transparent;
}

#logo-container {
	height: 80px;
	margin-bottom: 26px;
}

#front-page-logo {
	display: inline-block;
	height: 100%;
	pointer-events: none;
};