@import "materialize";

html {
	background-color: #1b1b1b;
	color: white;
}

body {
	// background: url("http://images.fineartamerica.com/images-medium-large/a-gloomy-day-venura-herath.jpg") no-repeat center center;
	background-size: cover;
}

b {
	color: color("light-green", "accent-3");
}

/* Table of Contents */
.table-of-contents {
	position: fixed;
	right: 0;
	font-size: 1.64rem;
	line-height: 1.64rem;
	padding-right: 20px;
	top: 50%;
	transform: translateY(-50%);

	.row {
		margin-bottom: 0px;
	}

	.infrastructure {
		&.active {
			color: color("yellow", "accent-3");
		}
	}
	.social {
		&.active {
			color: color("light-blue", "accent-3");
		}
	}
	.medical {
		&.active {
			color: color("red", "accent-3");
		}
	}
	.survival {
		&.active {
			color: color("green", "accent-3");
		}
	}
}
	
/* Offset Wrappers */
.footer-wrapper {
	height: 100%;
	background-color: rgb(55, 55, 55);
	padding-top: 20px;
}

.main-wrapper {
	
}

/* Sidenav  */

header, main, footer {
	padding-left: 240px;
}

@media #{$medium-and-down} {
	header, main, footer {
		padding-left: 0;
	}
}

/* Sticky footer */

body {
	display: flex;
	height: 100vh;
	flex-direction: column;
	overflow-y: scroll;
}

header, footer {
	flex-shrink: 0;
}

main {
	flex: 1 0 auto;
}

ul.side-nav.fixed:hover {
    overflow-y: auto;
}

/* Logo */

ul.side-nav.fixed li.logo {
	text-align: center;
	margin-top: 32px;
	margin-bottom: 16px;
	border-bottom: 1px solid #ddd;
}

ul.side-nav.fixed li.logo:hover {
	background-color: transparent;
}

#logo-container {
	height: 57px;
	margin-bottom: 32px;
}

#front-page-logo {
	display: inline-block;
	height: 100%;
	pointer-events: none;
};