@import "materialize";

html {
	background-color: #1b1b1b;
	color: white;
	background: url("../img/bg.jpg") no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
}

b {
	color: color("light-green", "accent-3");
}

a {
	color: color("light-green", "accent-3");
}

.no-margin > * {
	margin: 0 !important;
}

/* Equalizer aka pure magic */

.row.equalizer {
	display: flex;
	flex-wrap: wrap;
	
	.col {
		display: flex;
	}
	
	.col > * {
		flex: 1 1 0%;
	}
}

/* Cards */

.card, {
	background-color: color("blue-grey", "darken-4");
	
	.card-reveal {
		background-color: color("blue-grey", "darken-4");
	}
}

/* Home Page */
#z {
	transition: all 3s ease-in-out;
	color: #fff;
}

.home-wrapper {
	display: inline-block;
	flex: 1;
	padding: 0 2rem 1.124rem 2rem;
	background-color: rgba(27, 27, 27, 0.5);
	
	// Keep this?
	// box-shadow: -10px 10px 40px rgba(118, 255, 3, 0.1);
}

/* Card */
.card {
	color: #fff;
}

/* Table of Contents */

.table-of-contents {
	position: fixed;
	right: 0;
	font-size: 1.64rem;
	line-height: 1.64rem;
	padding-right: 20px;
	top: 50%;
	transform: translateY(-50%);

	.row {
		margin-bottom: 0px;
	}

	.infrastructure {
		&.active {
			color: color("yellow", "accent-3");
		}
	}
	.social {
		&.active {
			color: color("light-blue", "accent-3");
		}
	}
	.medical {
		&.active {
			color: color("red", "accent-3");
		}
	}
	.survival {
		&.active {
			color: color("green", "accent-3");
		}
	}
}
	
/* Offset Wrappers */

.footer-wrapper {
	height: 100%;
	background-color: rgb(55, 55, 55);
	padding-top: 20px;
}

.main-wrapper {
	min-height: 100%;
	background-color: rgba(25, 25, 25, 0.97);
}

/* Sidenav  */

header, main, footer {
	padding-left: 240px;
}

@media #{$medium-and-down} {
	header, main, footer {
		padding-left: 0;
	}
	
	.side-nav {
		background-color: rgb(55, 55, 55);
	}
}

/* Sticky footer */

body {
	display: flex;
	height: 100vh;
	flex-direction: column;
	overflow-y: scroll;
}

header, footer {
	flex-shrink: 0;
}

main {
	flex: 1 0 auto;
}

ul.side-nav.fixed:hover {
    overflow-y: auto;
}

@media #{$medium-and-down} {
	ul.side-nav.fixed {
		overflow-y: auto;
	}
}

/* Logo */

ul.side-nav.fixed li.logo {
	text-align: center;
	margin-top: 26px;
	margin-bottom: 16px;
	border-bottom: 1px solid color("light-green", "accent-3");
}

ul.side-nav.fixed li.logo:hover {
	background-color: transparent;
}

#logo-container {
	height: 80px;
	margin-bottom: 26px;
}

#front-page-logo {
	display: inline-block;
	height: 100%;
	pointer-events: none;
};