html, body {
	height: 100%;
	background-color: black;
	color: #fff;
}

.et-wrapper, .valign-wrapper {
	min-height: 100vh;
	min-width: 100vw;
}

.et-page {
	overflow-y: auto;
}

.et-force-hide {
	display: none;
}

.valign {
	height: 100%;
}

b {
	color: #76ff03;
}

.special-btn {
	margin-top: 1.5rem;
	margin-bottom: 2.5rem;
}

.btn, .btn-large {
	outline: 1px solid white;
	background-color: #000;
}

.btn:hover, .btn-large:hover {
    background-color: rgba(118,255,3,0.5);
	outline: 1px solid white;
}

.btn:focus, .btn-large:focus {
    background-color: rgba(118,255,3,0.5);
	outline: 1px solid white;
}

p {
	font-size: 1.4rem;
	padding-bottom: 20px;
}

.choices button{
	margin: 10px 0 10px 0;
}