<!DOCTYPE html>
<html>
	{% load staticfiles %}
	<head>
		<title>{% block title %}{% endblock %}</title>
		
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
		<meta name="description"  content="Project Z Museum" />
		<meta name="keywords"  content="zombie, survival, emergency, preparedness, museum, education" />
		
		<link type="text/css" rel="stylesheet" href="{% static 'css/projectz.css' %}" />
	</head>

	<body>
		<header>
			<nav class="hide-on-large-only">
				<div class="container">
					<a href="#" data-activates="nav-mobile" class="button-collapse top-nav full"><i class="mdi-navigation-menu"></i></a>
				</div>
			</nav>
		
			<ul id="nav-mobile" class="side-nav fixed">
				<li class="logo"><a id="logo-container" href="/" class="brand-logo">
					<object id="front-page-logo" type="image/png" data="http://www.arcadebelgium.com/forum/pix14/projectz_logo.png"></object>
				</a></li>
				<li><a href="/"><i class="mdi-action-account-balance left"></i>Home</a></li>
				<li><a href="/exhibitions"><i class="mdi-action-description left"></i>Exhibitions</a></li>
				<li><a href="/learn"><i class="mdi-action-assignment left"></i>Learn</a></li>
				<li><a href="/visit"><i class="mdi-action-explore left"></i>Visit</a></li>
				<li><a href="/gallery"><i class="mdi-action-theaters left"></i>Gallery</a></li>
				<li><a href="/team"><i class="mdi-action-account-child left"></i>Team</a></li>
				<li><a href="/faq"><i class="mdi-action-question-answer left"></i>FAQ</a></li>
				<li><a href="/contact"><i class="mdi-action-markunread-mailbox left"></i>Contact Us</a></li>
			</ul>
		</header>
		
		{% block main %}{% endblock %}
		
		<!--
		<footer class="page-footer">
			<div class="footer-wrapper">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Project Z Museum</h5>
                <p class="grey-text text-lighten-4">Are you ready for the apocalypse?</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Connect</h5>
                <a class="grey-text text-lighten-3" href="#!">GitHub</a> <b>|</b> 
				<a class="grey-text text-lighten-3" href="#!">Facebook</a>
              </div>
            </div>
          </div>
			</div>
		</footer>
		-->
		
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js"></script>
		<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
	</body>
	
</html>