{% extends "base.html" %}

{% block title %}Project Z - Contact{% endblock %}

{% block main %}
<main>
	<div class="main-wrapper">
		<div class="section" id="index-banner">
			<div class="container">
				<h2 class="header center light-green-text text-accent-3">Contact Us</h2>
			</div>
		</div>
		
		<div class="container">
			<div class="section">
				<div class="row">
					<form class="col s12" action="contact.php">
						<div class="row">
							<div class="input-field col s12">
								<i class="mdi-action-account-circle prefix"></i>
								<input id="name" name="first" type="text" class="validate">
								<label for="name" class="">Full Name</label>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s12">
								<i class="mdi-editor-mode-edit prefix"></i>
								<textarea name="message" class="materialize-textarea validate"></textarea>
								<label>Message</label>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s12">
								<i class="mdi-communication-email prefix"></i>
								<input id="email" name="email" type="email" class="validate">
								<label for="email">Email</label>
							</div>
						</div>
						{% csrf_token %}
						<br>
						<div class="row center light-green-text text-accent-3">
							<a class="waves-effect waves-light btn-flat" type="submit" name="action">Submit
								<i class="mdi-content-send right"></i>
							</a>
						</div>
					</form>
				</div>
			</div>
		</div>
		
	</div>
</main>
{% endblock %}