{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Project Z- FAQ{% endblock %}

{% block main %}
<main>
	<div class="main-wrapper">
		<div class="section" id="index-banner">
			<div class="container">
				<h2 class="header center light-green-text text-accent-3">Frequently Asked Questions</h2>
			</div>
		</div>
			
		<div class="container">
			<ul class="collapsible" data-collapsible="accordion">
				<li>
					<div class="collapsible-header"><i class="mdi-action-account-balance"></i>Museum</div>
					<div class="collapsible-body">
						<p>
							<span><b>Will I be able to interact with exhibits?</b></span>
							<br>
							<span>Here at the Museum of Survival we strive to give our visitors as much hands on experience as we possibly can! Not every exhibit will be interactive, but rest assured that there will be plenty to do during your visit!</span>
							<br><br>
							<span><b>Will this be a guided tour or can I go on a self-guided tour?</b></span>
							<br>
							<span>There will be docents available who will gladly guide you around the museum and inform you about each exhibit. You can also choose a self-guided tour.</span>
							<br><br>
							<span><b>When is the museum open?</b></span>
							<br>
							<span>The <a href="/visit">visit</a> page has this information.</span>	
							<br><br>
							<span><b>Will I need to pay admission?</b></span>
							<br>
							<span>There is no need to pay for admission since the Museum of Survival is a nonprofit organization whose only goal is to raise awareness of emergency situations and prepare the public for any type of emergency.</span>
							<br><br>
							<span><b>Do you offer tours in any languages other than English?</b></span>
							<br>
							<span>Some of our docents speak multiple languages and will try their best to accomodate your needs.</span>
							<br><br>
							<span><b>How many exhibits are there?</b></span>
							<br>
							<span>There’s a grand total of four main sections in our museum. Each section contains three or more exhibits on the main focus of that individual section. There will be enough exhibits for you to visit and explore.</span>
						</p>
					</div>
				</li>
				<li>
					<div class="collapsible-header"><i class="mdi-social-school"></i>Education</div>
					<div class="collapsible-body">
						<p>
							<span><b>What can I learn from this museum?</b></span>
							<br>
							<span>The Museum of Survival will educate you about many emergency situations and what to do in case said emergencies do happen.</span>		
							<br><br>				
							<span><b>What is so important about emergency preparedness?</b></span>
							<br>
							<span>Being prepared for any type of emergency is crucial for the safety of those around you and yourself. Your chances of surviving a dangerous situation are much higher if you are prepared to deal with any emergency.</span>
						</p>
					</div>
				</li>
				<li>
					<div class="collapsible-header"><i class="mdi-action-list"></i>Rules</div>
					<div class="collapsible-body">
						<p>
							<span><b>Are pictures and videos allowed in the exhibits?</b></span>
							<br>
							<span>Yes. Photography and video recordings are allowed in the exhibits.</span>		
							<br><br>				
							<span><b>Can I eat or drink while in the museum?</b></span>
							<br>
							<span>Food and drinks will not be allowed into the museum.</span>
						</p>
					</div>
				</li>
				<li>
					<div class="collapsible-header"><i class="mdi-maps-directions-car"></i>Directions</div>
					<div class="collapsible-body">
						<p>
							<span><b>How do I arrive to Museum of Survival: Project Z once I am on the California Academy of Mathematics and Science (CAMS) campus?</b></span>
							<br>
							<span>Head towards the Engineering building and then go down the hall until you reach room 6020.</span>		
						</p>
					</div>
				</li>
			</ul>
		</div>
		
		<br>
	</div>
</main>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'js/init.js' %}"></script>
{% endblock %}