{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Project Z - Gallery{% endblock %}

{% block main %}
<main>
	<div class="main-wrapper">
		<div class="section" id="index-banner">
			<div class="container">
				<h2 class="header center light-green-text text-accent-3">Gallery</h2>
			</div>
		</div>
		<div class="container">
			<div class="slider">
				<ul class="slides">
					<li>
						<img src="{% static 'img/slider/1.jpg' %}">
						<div class="caption left-align">
							<h5 class="light black-text">First work day.</h5>
						</div>
					</li>
					<li>
						<img src="{% static 'img/slider/2.jpg' %}">
						<div class="caption right-align">
							<h5 class="light black-text">Brainstorming.</h5>
						</div>
					</li>
					<li>
						<img src="{% static 'img/slider/3.jpg' %}">
						<div class="caption left-align">
							<h5 class="light black-text">More brainstorming.</h5>
						</div>
					</li>
					<li>
						<img src="{% static 'img/slider/4.jpg' %}">
					</li>
					<li>
						<img src="{% static 'img/slider/5.jpg' %}">
					</li>
					<li>
						<img src="{% static 'img/slider/6.jpg' %}">
					</li>
					<li>
						<img src="{% static 'img/slider/7.jpg' %}">
					</li>
					<li>
						<img src="{% static 'img/slider/8.jpg' %}">
					</li>
					<li>
						<img src="{% static 'img/slider/9.jpg' %}">
					</li>
				</ul>
			</div>
			
			<br><br>
		</div>
	</div>
	
	
</main>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'js/gallery.js' %}"></script>
{% endblock %}