{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Project Z{% endblock %}

{% block main %}
<main>	
	<div class="section" id="index-banner">
		<div class="container" style="text-align: center">
			<div class="home-wrapper">
				<h2 class="header">Project <span id="z">Z</span></h2>
				<h5 class="light">Museum of Surivival</h2>
			</div>
		</div>
	</div>
</main>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'js/home.js' %}"></script>
{% endblock %}