{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Project Z - Learn{% endblock %}

{% block main %}
<main>
	<div class="main-wrapper">
		<div class="section" id="index-banner">
			<div class="container">
				<h2 class="header center light-green-text text-accent-3">Learn</h2>
			</div>
		</div>
		
		<div class="container">
			<div class="section">
				<div class="row">
				
					<div class="col s12 m6">
						<div class="card">
							<div class="card-image waves-effect waves-block">
								<img class="activator" src="{% static 'img/graph.png' %}">
							</div>
							<div class="card-content">
								<span class="card-title activator">Battery Power <i class="mdi-navigation-more-vert right"></i></span>
								<p><a href="http://projectzmuseum.org/media/battery/battery.html" target="blank">Play</a> | <a href="#">Download</a></p>
							</div>
							<div class="card-reveal">
								<span class="card-title">Infrastructure <i class="mdi-navigation-close right"></i></span>
								<p>Do you know how long your battery will last in emergency situations? Try this interactive to plot discharge curves and even generate custom equations for each curve!</p>
							</div>
						</div>
					</div>
					
					<div class="col s12 m6">
						<div class="card">
							<div class="card-image waves-effect waves-block">
								<img class="activator" src="{% static 'img/selection.png' %}">
							</div>
							<div class="card-content">
								<span class="card-title activator">Choices <i class="mdi-navigation-more-vert right"></i></span>
								<p><a href="http://projectzmuseum.org/media/choices/choices.html" target="blank">Play</a> | <a href="#">Download</a></p>
							</div>
							<div class="card-reveal">
								<span class="card-title">Infrastructure <i class="mdi-navigation-close right"></i></span>
								<p>This interactive shows you how crucial communication and rapid decisions are during times of crisis. Make choices and see if you survive!</p>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</main>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'js/init.js' %}"></script>
{% endblock %}