{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Project Z{% endblock %}

{% block main %}
<main>
	<div class="main-wrapper">
		<div class="section" id="index-banner">
			<div class="container">
				<h2 class="header center light-green-text text-accent-3">Meet the Team</h2>
			</div>
		</div>

		<div class="container">
			<div class="row true-flex center-flex">
				<div class="col l4 m6 s12">
					<div class="card-panel">
						<img src="{% static 'img/group1.jpg' %}" class="materialboxed responsive-img" data-caption="Project Z selfie on the grass!"/>
					</div>
				</div>
				<div class="col l4 m6 s12">
					<div class="card-panel">
						<img src="{% static 'img/group5.jpg' %}" class="materialboxed responsive-img" data-caption="Group photo near the classroom."/>
					</div>
				</div>
				<div class="col l4 m6 s12">
					<div class="card-panel">
						<img src="{% static 'img/group10.jpg' %}" class="materialboxed responsive-img" data-caption="Group photo in the bushes."/>
					</div>
				</div>
				<div class="col l4 m6 s12">
					<div class="card-panel">
						<img src="{% static 'img/group16.jpg' %}" class="materialboxed responsive-img" data-caption="Project Z selfie next to the emergency pole!"/>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'js/init.js' %}"></script>
{% endblock %}