{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Project Z{% endblock %}

{% block main %}
<main>
	<div class="main-wrapper">
		<div class="section" id="index-banner">
			<div class="container">
				<h2 class="header center light-green-text text-accent-3">Meet the Team</h2>
			</div>
		</div>
		
		<div class="container">
			<div class="row">
				<div class="col s12">
					<div class="card-panel">
						<div class="row valign no-margin">
							<div class="col s2">
								<img src="{% static 'img/mj.png' %}" alt="" class="circle responsive-img">
							</div>
							<div class="col s10">
								<span>Hello. My name is Michael Johanis.</span>
							</div>
						</div>
					</div>
				</div>
				
				<div class="col s12">
					<div class="card-panel">
						<div class="row valign no-margin">
							<div class="col s10">
								<span>Hey, Michael again.</span>
							</div>
							<div class="col s2">
								<img src="{% static 'img/mj.png' %}" alt="" class="circle responsive-img">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'js/init.js' %}"></script>
{% endblock %}