{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Project Z{% endblock %}

{% block main %}
<main>
	<div class="main-wrapper">
		<div class="section" id="index-banner">
			<div class="container">
				<h2 class="header center light-green-text text-accent-3">Meet the Team</h2>
			</div>
		</div>
		
		<div class="container">
			<div class="col s12 m8 offset-m2 l6 offset-l3">
				<div class="card-panel">
					<div class="row valign">
						<div class="col s2">
							<img src="" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
						</div>
						<div class="col s10">
							<span class="black-text">
							This is a square image. Add the "circle" class to it to make it appear circular.
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'js/init.js' %}"></script>
{% endblock %}