{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Project Z - Visit{% endblock %}

{% block main %}
<main>
	<div class="main-wrapper">
		<div class="section" id="index-banner">
			<div class="container">
				<h2 class="header center light-green-text text-accent-3">Visit the Museum</h2>
			</div>
		</div>
		<div class="container">
			<div class="row equalizer">
				<div class="col s12">
					<div class="card-panel">
						<iframe width="100%" height="400px" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=California%20Academy%20of%20Mathematics%20and%20Science%20School%2C%20East%20Victoria%20Street%2C%20Carson%2C%20CA%2C%20United%20States&key=AIzaSyAgorC0GNi_5yVb0NDU8FgK6dB6QIqKhN0"></iframe> 
					</div>
				</div>
				<div class="col l6 s12">		
					<div class="card-panel">
					<span><b>Address:</b></span>
					<br>
					<span>1000 E. Victoria St. Carson, CA 90746</span>
					<br>
					<span>Room 6020</span>
					</div>
				</div>
				<div class="col l6 s12">		
					<div class="card-panel">
					<span><b>Hours:</b></span>
					<br>
					<span>8:30 am - 12:00 pm | 6:00 pm - 8:00 pm</span>
					<br>
					<span>(museum open on 6/4/2014 only!) <a class="modal-trigger" href="#info-modal">*</a></span>
					</div>
				</div>	
				<div class="col l6 s12">		
					<div class="card-panel">
					<span><b>Phone:</b></span>
					<br>
					<span>(310) 243-2025</span>
					</div>
				</div>
				<div class="col l6 s12">		
					<div class="card-panel">
					<span><b>Admission:</b></span>
					<br>
					<span>Free | All</span>
					</div>
				</div>
				<div class="col s12">		
					<div class="card-panel">
					<span><b>Know Before You Go:</b></span><br>
					<span><b>> </b>Museum tour is separated into two categories: guided and self-guided. Self-guided viewing is not accompanied by a docent or a survival group. Guided viewing is recommend for all new visitors who want to get the full experience of Project Z.</span><br>
					<span><b>> </b>Photography of any exhibit is allowed! Share photos with <a href="#something">#projectzmuseum</a> if you'd like.</span><br>
					<span><b>> </b>All digital interactive exhibits are available online in the <a href="/learn">learn</a> tab! Try to give other visitors a chance to interact by not spending too much time on them in the actual museum!</span>
					</div>
				</div>					
			</div>
		</div>

	</div>
	
	<div id="info-modal" class="modal">
		<div class="modal-content">
			<h4>Museum Times</h4>
			<p>Please note that the Museum of Survival: Project Z will only be open for one day! This is a student developed project at the California Academy of Mathematics and Science. If you have found this site and are not aware of this project, please note that this is <b>NOT</b> a real museum. However, feel free to visit us on opening day if you'd like. We'll be glad to give you a tour.</p>
		</div>
		<div class="modal-footer">
			<a href="#!" class=" modal-action modal-close waves-effect waves-light btn">I Understand</a>
		</div>
	</div>
</main>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'js/init.js' %}"></script>
{% endblock %}